@{
    Layout = "~/Views/Shared/_WorldCupLayout1.cshtml";
    ViewBag.Title = "Home Page";
}
@section Meta{
    <title>@ViewBag.Title</title>
}

<div class="jumbotron">
    <h1>World Cup App</h1>
    <p class="lead">An app to track matches, interact with the teams, and put your money where your mouth is for this 2018 World Cup.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>
            Fill out a bracket to get started. Once you save your picks to your profile, compare your lineup to others in the community.
        </p>
        <p><a class="btn btn-default" href="/Brackets/Build">Build Your Bracket &raquo;</a></p>
    </div>
</div>
@section Scripts{

}