/*
 *  Flex Layout Specifics
*/
main {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  font-size: small;
  padding: 10px;
  line-height: 1.4em; }

.round {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  list-style: none;
  padding: 0; }

/* general */
.round .spacer {
  flex-grow: .6; }

.round .spacer:first-child,
.round .spacer:last-child {
  flex-grow: .1; }

.round .game-spacer {
  flex-grow: .9; }

.round-2 .spacer {
  flex-grow: 7; }

.round-2 .spacer:first-child {
  flex-grow: 4; }

.round-2 .spacer:last-child {
  flex-grow: 3.2; }

.round-2 .game.game-spacer {
  height: 13em; }

.round-3 .spacer {
  flex-grow: 5; }

.round-3 .spacer:first-child {
  flex-grow: 4; }

.round-3 .spacer:last-child {
  flex-grow: 3.2; }

.round-3 .game.game-spacer {
  height: 26em; }

.round-4 .spacer {
  flex-grow: 5; }

.round-4 .spacer:first-child {
  flex-grow: 4; }

.round-4 .spacer:last-child {
  flex-grow: 3.2; }

.round-4 .game.game-spacer {
  height: 52em; }

li.game {
  padding-left: 20px; }

li.game.winner {
  font-weight: bold; }

li.game span {
  float: right;
  margin-right: 5px; }

li.game-top {
  border-bottom: 2px solid #aaa; }

li.game-spacer {
  border-right: 2px solid #aaa;
  min-height: 40px; }

li.game-bottom {
  border-top: 2px solid #aaa; }
